/* CAROLINA ROJAS COLLANTE */
.App {
  text-align: center;
  margin: 20px;
}

input[type="text"] {
  margin-right: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
}

div {
  margin-top: 10px;
}
